<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>erp_integracion</name>
	<displayName><![CDATA[Integración ERP Manager]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Módulo para sincronización de stock, precios, clientes y pedidos con ERP.]]></description>
	<author><![CDATA[VRWEB]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
